* {
  margin: 0;
  padding: 0;
  font-family: Aria, 'Helvetica', sans-serif;
  box-sizing: border-box;
}

body {
  background: #ccc;
}

a {
  text-decoration: none;
}

.title {
  font-size: 3rem;
  margin: 10px 0 20px 0;
  text-align: center;
}

#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#input:focus,
#searchButton:focus {
  outline: none;
}

#input {
  margin: 0 auto;
  width: 60%;
  border: 2px solid #333;
  height: 30px;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 3px 10px;
}

#searchButton {
  right: 12%;
}

.buttons.random {
  top: -68px;
  left: 12%;
  width: 10rem;
}

.buttons {
  position: relative;
  text-align: center;
  font-size: 1.3rem;
  width: 8rem;
  background-color: #444;
  border: 2px solid #666;
  border-radius: 20px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  margin: 20px auto 10px;
}

.container {
  padding: 0 1rem;
}

.item a {
  color: #333;
}

.item {
  padding: 10px 20px;
  border-left: 6px solid #444;
  margin-bottom: 10px;
  background-color: #aaa;
  border-radius: 3px;
  line-height: 1.5rem;
}

.item dt {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.item:hover,
.item:active {
  border-left: 6px solid #00f;
  cursor: pointer;
  box-shadow: 1px 1px 5px #000;
}

#searchButton:active {
  background-color: #5af;
}

@media only screen and (max-width: 600px) {
  .buttons {
    position: static;
  }
  .buttons.random {
    margin-top: 0;
  }
}